<div>

<form>

    <input class="seachInput1" placeholder="Secteur d'activité..."  type="text" [formControl]="domains" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
    </mat-autocomplete>

    <input class="seachInput3" placeholder="Profession..."  type="text" [formControl]="subDomains" [matAutocomplete]="auto3">

    <mat-autocomplete #auto3="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsSub | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
    </mat-autocomplete>

    <input class="seachInput2" placeholder="Paris, Lille, Bordeaux ..."  type="text" [formControl]="ville" [matAutocomplete]="auto2">

    <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let vil of filteredOptionsVille | async" [value]="vil">
          {{ vil }}
        </mat-option>
    </mat-autocomplete>

    <button mat-button id="seachButton" (click)="seach()">RECHERCHER ></button>


    
<!-- 
  <mat-form-field>
    <mat-select placeholder="selectionner un domaine professionnel" [formControl]="domains" (ngModelChange)="changeSubDomainsList();" multiple>
      <mat-select-trigger>
        {{domains.value ? domains.value[0] : ''}}
        <span *ngIf="domains.value?.length > 1" >
                (+{{domains.value.length - 1}} others)
              </span>
      </mat-select-trigger>
      <mat-option *ngFor="let domain of domainsList" [value]="domain.name" >{{domain.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="sous domains pour plus de précision" [formControl]="subDomains" multiple (ngModelChange)="subDomainsSelectedChanged()">
      <mat-select-trigger>
        {{subDomains.value ? subDomains.value[0] : ''}}
        <span *ngIf="subDomains.value?.length > 1" >
                (+{{subDomains.value.length - 1}} others)
              </span>
      </mat-select-trigger>

      <mat-option *ngFor="let subdomain of subDomainsList" [value]="subdomain" >{{subdomain}}</mat-option>
    </mat-select>
  </mat-form-field>

  -->



</form>

</div>