.form-div > form > input {
    width: 100%;
    color: #2e2827;
    margin-bottom:2px;
    
}

.form-div{
    color: #2e2827;
    width: 300px;
    max-width: 300px;
}

button{
    text-align: center; 
    width: 105%;
    background: #FDAF00;
    color: #ffffff;
    font-size: 110%;
    border-radius: 5px;
}

.inline {
    width: 106%;
}

.inline > * {
    display: inline-flex;
    width: 44%;
    height: 35px;
    border-style: none;
    border-radius: 5px;
    padding: 4px;
}

.l {
    margin-left: 5%;
}

.reste > * {
    margin-bottom: 12px;
    height: 28px;
    width: 101%;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}

.titre {
    color: #fcf8f7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 100;
}

.reste > .mat-autocomplete {
    padding: 0%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(22, 38, 189);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(55, 73, 230);
}

/* mouse over link */
a:hover {
    color: rgb(25, 41, 185);
}

/* selected link */
a:active {
    color: blue;
}



