

<div class="form-div" *ngIf="!inscriptionSucces" >

  <p style="color:#ff2f2f; font-family: Arial, Helvetica, sans-serif; " *ngIf="submitted && !registerForm.valid">Veuillez remplir tous les champs ...</p>
  <p style="color:#ff2f2f; font-family: Arial, Helvetica, sans-serif;" *ngIf="submitted && registerForm.valid && erreur">{{erreur}}</p>

  <mat-progress-bar mode="indeterminate" *ngIf="load" ></mat-progress-bar>
  
  <h1 class="titre" *ngIf="!submitted" >Inscrivez vous ...</h1>

  <form (submit)="submit()" [formGroup]="registerForm" >

      <div class="inline" >

        <input  type="text" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.firstName.valid)? '#ffd4d4' : 'white' }"   placeholder="Nom de famille *" formControlName="firstName" required >

        <input  type="text" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.lastName.valid)? '#ffd4d4' : 'white' }" class="l" color="primary" placeholder="Prénom *"formControlName="lastName"  required>
      
      </div>

      <br>

      <div class="inline" >

        <input  type="number" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.cp.valid)? '#ffd4d4' : 'white' }"  placeholder="Code postal *" formControlName="cp"  required>

        <input  type="tel" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.tel.valid)? '#ffd4d4' : 'white' }"  class="l"  placeholder="Téléphone *" formControlName="tel" required >
      
      </div>
     
        <br>
     
    <div class="reste">

        <input  type="email" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.email.valid)? '#ffd4d4' : 'white' }"  placeholder="Email *" formControlName="email" required>

      <br>

        <input placeholder="Secteur d'activité..." [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.domain.valid)? '#ffd4d4' : 'white' }"  type="text" formControlName="domain" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
              {{ option.name }}
            </mat-option>
        </mat-autocomplete>
      
      <br>

        <input placeholder="Profession..."  type="text" [ngStyle]="{'backgroundColor': submitted && !(registerForm.controls.subDomain.valid)? '#ffd4d4' : 'white' }" formControlName="subDomain" [matAutocomplete]="auto2">

        <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsSub | async" [value]="option.name">
              {{ option.name }}
            </mat-option>
        </mat-autocomplete>

      <br>

        <input  type="password" placeholder="Mot de passe" formControlName="password" required>

      <br>
      
        <input style="margin-bottom: 0%;"  type="password" placeholder="Confirmer le mot de passe" formControlName="cmdp" (input)="compareMdp()" required>

      <br><br>
    </div>
   
      <button mat-button type="submit" >S'inscrire</button>

      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #2e2827 " > <a  routerLink="/ajoutDomain"> Je ne trouve pas ma profession et/ou mon secteur d'activité</a> </p>

      
      <br>
      
    </form>
  </div>
