.inscription-div {
    width: 30%;
    position: relative;
    left: 70%;
}

.description-div {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 20%;
   
}

.index-div {
    position: relative; 
    top: 0px;
    background: yellowgreen;
    padding-top: 10%;
}


