div {
    background: #32A9E4; 
}


.seachInput1 {
    width: 40%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    font-size: 14px;
    padding-left: 46px;
    color: #435f71;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px 0px 0px 8px;
    border-style: initial;
    margin-left: 20%
}

#seachButton {
    height: 43px;
    border-radius: 0px 8px 8px 0px;
    background-color: #ff7e00;
    color: white;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}