<div>

<form>

    <input id="seachInput" placeholder="entrer un secteur d'activité..."  type="text" [formControl]="domains" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
    </mat-autocomplete>

    <button mat-button (click)="seach()">rechercher</button>


    
<!-- 
  <mat-form-field>
    <mat-select placeholder="selectionner un domaine professionnel" [formControl]="domains" (ngModelChange)="changeSubDomainsList();" multiple>
      <mat-select-trigger>
        {{domains.value ? domains.value[0] : ''}}
        <span *ngIf="domains.value?.length > 1" >
                (+{{domains.value.length - 1}} others)
              </span>
      </mat-select-trigger>
      <mat-option *ngFor="let domain of domainsList" [value]="domain.name" >{{domain.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="sous domains pour plus de précision" [formControl]="subDomains" multiple (ngModelChange)="subDomainsSelectedChanged()">
      <mat-select-trigger>
        {{subDomains.value ? subDomains.value[0] : ''}}
        <span *ngIf="subDomains.value?.length > 1" >
                (+{{subDomains.value.length - 1}} others)
              </span>
      </mat-select-trigger>

      <mat-option *ngFor="let subdomain of subDomainsList" [value]="subdomain" >{{subdomain}}</mat-option>
    </mat-select>
  </mat-form-field>

  -->



</form>

</div>