form > * {
    margin-left: 5%;
}

form {
    margin-left: 25%;
}

#seachInput {
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 25px;
    
}

form[_ngcontent-c7] > *[_ngcontent-c7] {
    margin-left: 0%;
}

div {
    background: rgb(216, 241, 144); 
}