
form {
    margin-left: 16%;
    align-content: inline;
}

.seachInput1 {
    width: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    font-size: 14px;
    padding-left: 46px;
    color: #435f71;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px 0px 0px 8px;
    border-style: initial;
}

.seachInput2 {
    width: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    font-size: 14px;
    padding-left: 46px;
    color: #435f71;
    font-family: Arial, Helvetica, sans-serif;
    border-style: initial;
}

.seachInput3 {
    width: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    font-size: 14px;
    padding-left: 46px;
    color: #435f71;
    font-family: Arial, Helvetica, sans-serif;
    border-style: initial;
    border-left: 1px solid #32A9E4;
    border-right: 1px solid #32A9E4;
    
}

#seachButton {
    height: 43px;
    border-radius: 0px 8px 8px 0px;
    background-color: #ff7e00;
    color: white;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background: #32A9E4; 
}