.user-list {
  margin-left: 25%;
  max-width: 50%;
}

div{
  width:50%;
  margin-left: 25%;
}

.example-header-image {
  background-image: url('https://st.depositphotos.com/1779253/5140/v/950/depositphotos_51404241-stock-illustration-female-profile-avatar-icon-white.jpg');
  background-size: cover;
}

mat-card-title {
  font-weight: bolder;
}

app-user-card {
  width:50%;
}
