<div class="form-div">
  
  <h1 class="titre" >Inscrivez vous ...</h1>

  <form (submit)="submit()" [formGroup]="registerForm" >

      <div class="inline" >

        <input  type="text"   placeholder="Nom de famille *" formControlName="firstName" required >

        <input  type="text" class="l" color="primary" placeholder="Prénom *"formControlName="lastName"  required>
      
      </div>

      <br>

      <div class="inline" >

        <input  type="number"  placeholder="Code postal *" formControlName="cp"  required>

        <input  type="number" class="l"  placeholder="Téléphone *" formControlName="tel" required >
      
      </div>
     
        <br>
     
    <div class="reste">

        <input  type="email"  placeholder="Email *" formControlName="email" required>

      <br>

        <select  formControlName="domain" name="domain" required (ngModelChange)="updateSubDomainsList($event)" >
          <option [ngValue]="undefined" disabled  selected> Secteur d'activité ... </option>
          <option *ngFor="let domain of domainsList" [ngValue]="domain.name" >{{domain.name}}</option>
        </select>
      
      <br>

        <select  formControlName="subDomain" required>
          <option [ngValue]="undefined" disabled  selected> Profession ... </option>
          <option *ngFor="let domain of subDomainsList" [ngValue]="domain" >{{domain}}</option>
        </select>

      <br>

        <input  type="password" placeholder="Mot de passe" formControlName="password" required>

      <br>
      
        <input  type="password" placeholder="Confirmer le mot de passe" formControlName="cmdp" (input)="compareMdp()" required>

      <br>

      <!--  Pas necessaire à l'inscription

      <mat-form-field>
        <textarea matInput rows="5" maxlength="150"  placeholder="description..."></textarea>
      </mat-form-field>

      <br>

      <mat-form-field>
          <mat-select placeholder="selectionner un domaine professionnel" [formControl]="domains" (ngModelChange)="changeSubDomainsList();" multiple>
            <mat-select-trigger>
              {{domains.value ? domains.value[0] : ''}}
              <span *ngIf="domains.value?.length > 1" >
                (+{{domains.value.length - 1}} others)
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let domain of domainsList" [value]="domain.name" >{{domain.name}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="domains.value" >
          <mat-select placeholder="sous domains pour plus de précision" [formControl]="subDomains" multiple>
            <mat-select-trigger>
              {{subDomains.value ? subDomains.value[0] : ''}}
              <span *ngIf="subDomains.value?.length > 1" >
                (+{{subDomains.value.length - 1}} others)
              </span>
            </mat-select-trigger>
          
            <mat-option *ngFor="let subdomain of subDomainsList" [value]="subdomain" >{{subdomain}}</mat-option>
          </mat-select>
      </mat-form-field>
      -->

      <br>
    </div>
   
      <button mat-button type="submit" >S'inscrire</button>
      
      <br><br><br><br>
      
    </form>
  </div>
