<div class="form-div">

    <h2 style="text-align: center">Inscription</h2>
    <form (submit)="submit()">

      <mat-form-field>
        <input matInput type="text" color="primary" placeholder="prénom" [(ngModel)]="user.firstName" name="prenom"  required>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput type="text"  placeholder="nom" [(ngModel)]="user.lastName" name="nom" required >
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput type="email"  placeholder="email" [(ngModel)]="user.email" name="email" required>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput type="password" placeholder="mot de passe" [(ngModel)]="user.password" name="mdp" required>
      </mat-form-field>

      <br>
      
      <mat-form-field>
        <input matInput type="password" placeholder="confirmer le mot de passe" [(ngModel)]="mdp" name="cmdp" (input)="compareMdp()" required>
      </mat-form-field>

      <br>

      <!--  Pas necessaire à l'inscription

      <mat-form-field>
        <textarea matInput rows="5" maxlength="150"  placeholder="description..."></textarea>
      </mat-form-field>

      <br>

      <mat-form-field>
          <mat-select placeholder="selectionner un domaine professionnel" [formControl]="domains" (ngModelChange)="changeSubDomainsList();" multiple>
            <mat-select-trigger>
              {{domains.value ? domains.value[0] : ''}}
              <span *ngIf="domains.value?.length > 1" >
                (+{{domains.value.length - 1}} others)
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let domain of domainsList" [value]="domain.name" >{{domain.name}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="domains.value" >
          <mat-select placeholder="sous domains pour plus de précision" [formControl]="subDomains" multiple>
            <mat-select-trigger>
              {{subDomains.value ? subDomains.value[0] : ''}}
              <span *ngIf="subDomains.value?.length > 1" >
                (+{{subDomains.value.length - 1}} others)
              </span>
            </mat-select-trigger>
          
            <mat-option *ngFor="let subdomain of subDomainsList" [value]="subdomain" >{{subdomain}}</mat-option>
          </mat-select>
      </mat-form-field>
      -->

      <br>
   
      <button mat-button type="submit" routerLink="/main" >S'inscrire</button>
      
      <br><br><br><br>
      
    </form>
  </div>
