.avatar {
    background-image: url('https://st.depositphotos.com/1779253/5140/v/950/depositphotos_51404241-stock-illustration-female-profile-avatar-icon-white.jpg');
    background-size: cover;
    width: 120px;
    height: 120px;
    margin-left: 50px;
  }

.nom {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.profil-content {
  margin-top: 5px;
}

.secteur {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.profil-container {
  width: 50%;
  margin-left: 25%;
  background: #EEF2F6;
  
}