 <div class="wrapper" > 
  <div class="container" >  

    <div class="convs-container" >
      <mat-card>
        <mat-card-header> <h3>Messagerie</h3></mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
          <div style="display: flex;"><input placeholder="rechercher un contact..." style="width: 83%; height: 25px; padding: 3px;" > <button mat-button style="height: 35px; min-width: 35px; width: 35px; background: burlywood;" ></button></div>
          <app-conv-card *ngFor="let conv of convs" [conv]="conv" [expId]="getExpId(conv)" [convLu]="convLu(conv)" (click)="chargeConv(conv)" ></app-conv-card>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="conv-container" >
      <mat-card>
          <mat-progress-bar mode="indeterminate" *ngIf="loadConv" ></mat-progress-bar>
        <mat-card-header><h3>{{interlocuteur}}</h3></mat-card-header>
        <mat-divider></mat-divider>
        
        <mat-card-content>
            <div id="list-of-messages" #scrollMe >
                <mat-progress-bar mode="indeterminate" *ngIf="loadConvs" ></mat-progress-bar>
                <app-message-card *ngFor="let message of conv.messages" [message]="message" ></app-message-card>
            </div>
          <textarea placeholder="entrer votre message" [(ngModel)]="message" name="mess" ></textarea>
          <button mat-button class="sendButton" (click)="sendMessage()">Envoyer</button>
        </mat-card-content>
      </mat-card>
    </div>

    

  </div>

  <div style="position: absolute; top:90%; width: 100%;">
      <app-footer></app-footer>
  </div>

</div>

 
  




