<div class="container" >

  <div class="info-content" >
    <div class="title">
        <h1>Ceci est un titre</h1>
    </div>

    <app-img-box></app-img-box>
    
  </div>

  <div class="menu" >
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
    <button mat-button >new button</button>
  </div>

</div>







<app-footer></app-footer>