
.tool-bar-style {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #70a154 ;
    color: #ddecd4
}

.title {
    font-size: 130%;
    color: #e9f8a7;
}

.deconnexion {
    background: #44ad06;
    margin-left: 70%;

}
