.user {
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.example-header-image {
  background-image: url('https://st.depositphotos.com/1779253/5140/v/950/depositphotos_51404241-stock-illustration-female-profile-avatar-icon-white.jpg');
  background-size: cover;
}

mat-card-title {
  font-weight: bolder;;
}
